PORT = 5000
MONGO_URI = url
JWT_SECRET=your_jwt_secret_key_rahulkolhar

EMAIL_USER=abc@gmail.com
EMAIL_PASS=16letter

CLOUDINARY_CLOUD_NAME=name
CLOUDINARY_API_KEY=numberkey
CLOUDINARY_API_SECRET=secretkey

RAZORPAY_KEY_ID=rzp_test_ID
RAZORPAY_KEY_SECRET=**************