PORT = 5000
MONGO_URI = mongodb://localhost:27017/ecom-mern
JWT_SECRET=your_jwt_secret_key_rahulkolhar

EMAIL_USER=kolharrahul9@gmail.com
EMAIL_PASS=snpxkyrsrbzgtqnz

CLOUDINARY_CLOUD_NAME=i9wuvhqs
CLOUDINARY_API_KEY=689226998843864
CLOUDINARY_API_SECRET=nWK01wVZw_BnvnmvWorZEZJdGo0

RAZORPAY_KEY_ID=rzp_test_TJb6ZBLyGdYiEx
RAZORPAY_KEY_SECRET=EmlZ9LP8L3gQEgCe2hI5UeMP
